.Navbar {
    height: 8%;
    padding: 0;
    background-color: white;   
    text-align: center;
    display: flex;
    align-items: center;
}

.Navbar-heading {
    display: flex;
    align-items: center;
}

.Navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 0.7rem;
}

.Navbar li {
    margin: 0;
    list-style: none;
    font-weight: 300;
    font-size: 0.9em;
    cursor: pointer;
    color: black;
}

a:link {
    text-decoration: none;
    margin-right: 1.5rem;
}

a:active,
a::after,
a:focus,
a:target {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

li:hover {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

li:active {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

@keyframes fadeIn {
    0% { background-color: transparent;}
    100% { background-color: whitesmoke;}
}

.Navbar img {
    width: 7%;
    margin: 0.8rem 0;
    padding: 0;
}

.Navbar h1 {
    font-size: 1.25em;
    margin-left: 1rem;
}