

body {
    margin: 0;
    padding: 0;    
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}

/* Fonts */

h1 {
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-size: 2em;
}

h3 {
    font-weight: 800;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25em;
    margin: 1rem 0;
}

p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 0.8em;
}

/* ~~~~~~ GENERAL ~~~~~~  */

.App {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.section-space {
    margin: 8rem auto 10rem auto;
}

.More {
    padding: 0.7rem 1rem;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 4px;
    display: flex;
    margin: 2rem auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    cursor: pointer;
}

.ReadMore {
    padding: 0.7rem 1rem;
    width: max-content;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 4px;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    cursor: pointer;
}

.Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section-Headers {
    font-size: 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.Section-Container {
    margin: 5rem auto 10rem auto;
}

.Headers-Right {
    justify-content: end;
}

.Headers-Center {
    justify-content: center;
}
/* ~~~~~~ LANDING PAGE section ~~~~~~ */

.Landing-Page {
    height: 100vh;
    width: 100vw;
}

.Landing-Page img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.Landing-Text {
    position: absolute;
    left: 15%;
    top: 33%;
    color: black;
    opacity: 0.8;
}

.Landing-Text h1 {
    font-size: 4em;
    padding: 0;
    margin: 0 auto 1rem auto;
}

.Landing-Text h2 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}
/* ~~~~~~ BIO section ~~~~~~ */

.Bio {
    width: 85vw;
    display: flex;
    justify-content: center;
}

.Bio-items {
    margin-left: 3rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Bio img {
    height: 25rem;
    width: 25rem;
    object-fit: cover; 
}

.Bio-items h2 {
    font-size: 2em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.Bio-items h3 {
    padding: 0;
    margin: 1rem 0rem 1rem;
    font-weight: 400;
}

.Bio-items p {
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

.Bio-skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.Bio-skills li {
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8em;
    font-weight: 400;    
    background-color: lightgreen;
}

.Bio button {
    width: 8rem;
    font-size: 1em;
    padding: 0.75rem 0.5rem;
    border: none;
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
}


/* ~~~~~~ WORK section ~~~~~~  */

.Work-Preview {
    width: 480px;
    height: 260px;
    border-radius: 4px;
    cursor: pointer;
}

.Work-Preview:hover {
    opacity: 0.9;
}

.Work-Container {
    width: 85vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Work-Details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1rem;
}

.Work-Details p {
    text-align: end;
    padding: 0.75rem 1rem;
    background-color: aliceblue;
}

.Work-Details h4 {
    padding-right: 1rem;
}

.project-single-container {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

/* ~~~~~~ PROJECTS section ~~~~~~  */

.Projects-Container {
    display: flex;
    width: 1050px;
} 

.Project-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 0 0;
}

.Project-Preview {
    width: 350px;
    height: 350px;
    border-radius: 4px;
    cursor: pointer;
}

.Project-Preview:hover {
    opacity: 0.9;
}

.Project-Details {
    display: flex;
    flex-direction: column;
}

.Project-Details p {
    background-color: aliceblue;
    margin-bottom: 2rem;
}

/* CAROUSEL */

.styles-module_carousel-base__3keqD div>button[data-direction=left] {
    background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: relative;
    top: 200px;
    transform: rotate(180deg);
    margin-right: 1rem;
}

.styles-module_carousel-base__3keqD div>button[data-direction=right] {
    background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: relative;
    top: 200px;
    margin-left: 1rem;
}

.Section-Container-Carousel {
    margin: 5rem auto 8rem auto;
    width: 1056px;
}

/* ~~~~~~ FOOTER ~~~~~~  */

.Footer {
    margin: 5rem auto 2rem auto;
}

.Footer h5 {
    font-weight: 300;
    margin: 0.8rem auto;
}

.Footer-Icons {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.Social-Icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.9;
    margin: 0 0.3rem;
}

.Social-Icons:hover {
    opacity: 0.7;
}