html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;    
    background-color: white;
    color: black;
    font-family: 'Stigfier';
}

/* Fonts */

h1 {
    font-size: 1.4em;
    font-weight: 500;
}

h2 {
    font-size: 2em;
}

h3 {
    font-weight: 800;
}

h4 {
    font-size: 1.25em;
    margin: 1rem 0;
}

p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 0.8em;
}

button {
    font-family: 'HelveticaNowDisplay';
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* ~~~~~~ GENERAL ~~~~~~  */

.App {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.section-space {
    margin: 8rem auto 10rem auto;
}

.More {
    padding: 0.7rem 1rem;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 4px;
    display: flex;
    margin: 2rem auto;
    font-weight: 300;
    cursor: pointer;
}

.ReadMore {
    padding: 0.7rem 1rem;
    width: max-content;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 4px;
    display: flex;
    font-weight: 300;
    cursor: pointer;
}

.Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section-Headers {
    font-size: 1.75em;
    font-weight: 500;
    letter-spacing: 3px;
    border-bottom: 5px solid rgb(189, 34, 34);
    width: min-content;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.Section-Container {
    margin: 10rem auto 10rem auto;
}

.Headers-Right {
    justify-content: end;
}

.Headers-Center {
    justify-content: center;
}

/* ~~~~~~ NAVBAR ~~~~~~ */


.Navbar {
    width: 100%;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.navbar-items button {
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    border: 1px solid rgb(73, 123, 73);
    border-radius: 5px;
    font-size: 0.8em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: rgb(73, 123, 73);
}

.Navbar-heading {
    display: flex;
}

.Navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.Navbar li {
    margin: 0;
    padding-bottom: 0.25rem;
    list-style: none;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    width:min-content;
}

a:link {
    text-decoration: none;
    margin-right: 2rem;
}

li:active,
li::after,
li:focus,
li:target {
    border-bottom: 3px solid rgb(189, 34, 34);
    margin-bottom: -3px;
}

li:hover {
    border-bottom: 3px solid rgb(189, 34, 34);
    margin-bottom: -3px;
}

li:active {
    border-bottom: 3px solid rgb(189, 34, 34);
    margin-bottom: -3px;
}

.Navbar img {
    width: 7%;
    margin: 0.8rem 0;
    padding: 0;
}

.Navbar h1 {
    font-size: 1.25em;
    margin-left: 2rem;
}

/* ~~~~~~ LANDING PAGE section ~~~~~~ */

.Landing-Page {
    height: 90vh;
    width: 95vw;
    border: 1px solid black;
    margin-bottom: 10rem;
}

.Landing-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Landing-Text {
    position: absolute;
    left: 5%;
    top: 9%;
}

.Landing-Text h1 {
    font-family: 'Stigfier';
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 auto 0rem auto;
    font-weight: 500;
    animation: left-to-right 1s ease-in-out forwards;
}

.Landing-Text h2 {
    font-family: 'Stigfier';
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 1.5rem;
    padding: 0;
    animation: left-to-right 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

#mars-circle {
    width: 100px;
    position: absolute;
    right: 4.5%;
    bottom: 7%;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* ~~~~~~ BIO section ~~~~~~ */

.Bio-Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bio {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.Bio-items {
    margin-left: 3rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Bio img {
    height: 25rem;
    width: 25rem;
    object-fit: cover; 
}

.Bio-items h2 {
    font-size: 2em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.Bio-items h3 {
    padding: 0;
    margin: 1rem 0rem 1rem;
    font-weight: 400;
}

.Bio-items p {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1.25px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

.readmore {
    width: 7rem;
    font-size: 1em;
    padding: 0.75rem 1rem;
    border: 1px solid gray;
    border-radius: 2px;
    color: gray;
    background-color: rgba(144, 238, 144, 0.151);
}

.resume {
    width: 7rem;
    font-size: 1em;
    padding: 0.75rem 1rem;
    border: 1px solid gray;
    border-radius: 2px;
    color: gray;
    background-color: rgba(144, 238, 144, 0.151);
}

.resume-section {
    display: flex;
    justify-content: center;
}

.resume-section img {
    width: 2.5rem;
    height: 2.5rem;
}

.resume-section img,
.resume-section button {
    margin: 0 1.5rem;
}

.resume-section button {
    width: 5.5rem;
    height: 2.5rem;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 2px;
    background-color: transparent;
}

.resume-section button:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

/* ~~~~~~ SKILLS section ~~~~~~  */

.skills-container {
    height: 65vh;
    width: 75vw;
    margin-bottom: 2rem;
}

.skill-icons {
    font-size: 3.75em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-icons p {
    font-size: 0.25em;
    font-weight: 500;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 5rem;
}


/* ~~~~~~ WORK section ~~~~~~  */

.Work-Preview {
    width: 430px;
    height: 310px;
    border-radius: 4px;
    cursor: pointer;
}

.Work-Preview:hover {
    opacity: 0.9;
}

.Work-Container {
    width: 95vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Work-Details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40vw;
    font-size: 1.4em;
}

.Work-Details p {
    text-align: end;
    padding: 0.75rem 1rem;
    font-weight: 400;
    width: 85%;
    margin-top: 0;
}

.Work-Details h4 {
    margin: 0;
    padding-right: 1rem;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.project-single-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7rem;
}

.project-single-container button {
    font-size: 0.6em;
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 2px;
    color: gray;
    background-color: rgba(144, 238, 144, 0.151);
}

.coming-soon h3 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin: 2rem auto;
    opacity: 0.9;
}

/* ~~~~~~ PROJECTS section ~~~~~~  */

.Projects-Container {
    display: flex;
    width: 1050px;
} 

.Project-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 0 0;
}

.Project-Preview {
    width: 350px;
    height: 350px;
    border-radius: 4px;
    cursor: pointer;
}

.Project-Preview:hover {
    opacity: 0.9;
}

.Project-Details {
    display: flex;
    flex-direction: column;
}

.Project-Details p {
    background-color: aliceblue;
    margin-bottom: 2rem;
}

/* CAROUSEL */

.styles-module_carousel-base__3keqD div>button[data-direction=left] {
    background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: relative;
    top: 200px;
    transform: rotate(180deg);
    margin-right: 1rem;
}

.styles-module_carousel-base__3keqD div>button[data-direction=right] {
    background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: relative;
    top: 200px;
    margin-left: 1rem;
}

.Section-Container-Carousel {
    margin: 5rem auto 8rem auto;
    width: 1056px;
}

/* ~~~~~~ CONTACT ~~~~~~  */

.contact-container {
    margin: 10rem auto;
}

.contact-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-items h2 {
    margin: 0.5rem auto;
    padding: 0;
}

.contact-items p {
    margin-bottom: 2rem;
    font-size: 1em;
}

.contact-items button {
    margin: 1rem auto;
    width: 7rem;
    height: 3rem;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
}

.contact-items button:hover {
    background-color: rgb(242, 242, 242); 
}

/* ~~~~~~ FOOTER ~~~~~~  */

.Footer {
    margin: 5rem auto 2rem auto;
}

.Footer h5 {
    font-weight: 300;
    margin: 0.8rem auto;
}

.Footer-Icons {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.Social-Icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.9;
    margin: 0 0.3rem;
}

.Social-Icons:hover {
    opacity: 0.7;
}

/* ~~~~~~~~~~~~ Fonts ~~~~~~~~~~~~  */

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-black/HelveticaNowDisplay-Black.eot');
    src: url('fonts/hnow-black/HelveticaNowDisplay-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-black/HelveticaNowDisplay-Black.woff') format('woff'),
         url('fonts/hnow-black/HelveticaNowDisplay-Black.ttf') format('truetype'),
         url('fonts/hnow-black/HelveticaNowDisplay-Black.svg#HelveticaNowDisplay') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-bold/HelveticaNowDisplay-Bold.eot');
    src: url('fonts/hnow-bold/HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-bold/HelveticaNowDisplay-Bold.woff') format('woff'),
         url('fonts/hnow-bold/HelveticaNowDisplay-Bold.ttf') format('truetype'),
         url('fonts/hnow-bold/HelveticaNowDisplay-Bold.svg#HelveticaNowDisplay') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-extrablack/HelveticaNowDisplay-ExtBlack.eot');
    src: url('fonts/hnow-extrablack/HelveticaNowDisplay-ExtBlack.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-extrablack/HelveticaNowDisplay-ExtBlack.woff') format('woff'),
         url('fonts/hnow-extrablack/HelveticaNowDisplay-ExtBlack.ttf') format('truetype'),
         url('fonts/hnow-extrablack/HelveticaNowDisplay-ExtBlack.svg#HelveticaNowDisplay') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-extrabold/HelveticaNowDisplay-ExtraBold.eot');
    src: url('fonts/hnow-extrabold/HelveticaNowDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-extrabold/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
         url('fonts/hnow-extrabold/HelveticaNowDisplay-ExtraBold.ttf') format('truetype'),
         url('fonts/hnow-extrabold/HelveticaNowDisplay-ExtraBold.svg#HelveticaNowDisplay') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-medium/HelveticaNowDisplay-Medium.eot');
    src: url('fonts/hnow-medium/HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-medium/HelveticaNowDisplay-Medium.woff') format('woff'),
         url('fonts/hnow-medium/HelveticaNowDisplay-Medium.ttf') format('truetype'),
         url('fonts/hnow-medium/HelveticaNowDisplay-Medium.svg#HelveticaNowDisplay') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-light/HelveticaNowDisplay-Light.eot');
    src: url('fonts/hnow-light/HelveticaNowDisplay-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-light/HelveticaNowDisplay-Light.woff') format('woff'),
         url('fonts/hnow-light/HelveticaNowDisplay-Light.ttf') format('truetype'),
         url('fonts/hnow-light/HelveticaNowDisplay-Light.svg#HelveticaNowDisplay') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-extralight/HelveticaNowDisplay-ExtLt.eot');
    src: url('fonts/hnow-extralight/HelveticaNowDisplay-ExtLt.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-extralight/HelveticaNowDisplay-ExtLt.woff') format('woff'),
         url('fonts/hnow-extralight/HelveticaNowDisplay-ExtLt.ttf') format('truetype'),
         url('fonts/hnow-extralight/HelveticaNowDisplay-ExtLt.svg#HelveticaNowDisplay') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-thin/HelveticaNowDisplay-Thin.eot');
    src: url('fonts/hnow-thin/HelveticaNowDisplay-Thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-thin/HelveticaNowDisplay-Thin.woff') format('woff'),
         url('fonts/hnow-thin/HelveticaNowDisplay-Thin.ttf') format('truetype'),
         url('fonts/hnow-thin/HelveticaNowDisplay-Thin.svg#HelveticaNowDisplay') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/hnow-hairline/HelveticaNowDisplay-Hairline.eot');
    src: url('fonts/hnow-hairline/HelveticaNowDisplay-Hairline.eot?#iefix') format('embedded-opentype'),
         url('fonts/hnow-hairline/HelveticaNowDisplay-Hairline.woff') format('woff'),
         url('fonts/hnow-hairline/HelveticaNowDisplay-Hairline.ttf') format('truetype'),
         url('fonts/hnow-hairline/HelveticaNowDisplay-Hairline.svg#HelveticaNowDisplay') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stigfier';
    src:
         url('fonts/stigfier/Stigfier.woff') format('woff'),
         url('fonts/stigfier/Stigfier.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* ~~~~~~~~~~~~ Animations ~~~~~~~~~~~~  */

.reveal-left {
    position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s ease-in-out;  
}

.reveal-left.active{
    transform: translateX(0);
    opacity: 1;
}

.reveal-right {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s ease-in-out;  
}

.reveal-right.active{
    transform: translateX(0);
    opacity: 1;
  }

